html, body {
  /*background-color: rgba(80, 141, 189, 0.5);*/
  background-color: #f4f4f4;
}

html, body, div, h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: none;
  /*background-color: #f4f4f4;*/
  color: #14100f;
}

.nav {
  background-color: #f5f5f5;
  /*background-color: rgba(80, 141, 189, 0.5);*/
  height: 70px;
  /*border-bottom: 2px solid #d2353a;*/
}

.nav h4 {
  float: right;
  display: inline;
}

#main-container {
  /*background-color: rgba(80, 141, 189, 0.5);*/
  margin-top: 20px;
  padding-bottom: 50px;
}

#logo {
  height: 50px;
  margin-top: 10px;
  width: 100px;
  float: left;
  border-radius: 4px;
}

.item {
  background-color: #cfdfda;
  height: 200px;
}

.group-img {
  max-height: 150px;
  min-height: 150px;
  max-width: 150px;
  margin: 0 auto;
}

.nav .container ul {
  margin-top: 27px;
  display: inline;
  text-decoration: none;
  float: right;
}

.nav .container ul li {
  display: inline;
  text-decoration: none;
  float: left;
  margin-right: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #d2353a;
  display: inline;
  margin-top: 30px;
}

#flecha {
  position: absolute;
  top: 6px;
  right: 110px;
}

#banner-main {
  background-color: #508dbd;
  border-top: 3px solid rgba(51, 51, 51, 0.85);
  border-bottom: 3px solid rgba(51, 51, 51, 0.85);
  height: 250px;
  width: 100%;
}

#featured-meetup {
  background-color: rgba(225, 225, 225, 0.4);
  width: 100%;
  height: 170px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 0px;
}

#banner {
  background-color: #508dbd;
  border-top: 3px solid rgba(51, 51, 51, 0.85);
  border-bottom: 3px solid rgba(51, 51, 51, 0.85);
  height: 500px;
  width: 100%;
}

#filter-meetups {
  background-color: rgba(225, 225, 225, 0.4);
  width: 100%;
  height: 400px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 7px;
  padding: 20px;
  color: #333;
}

.slider-item {
  background-color: none;
  max-height: 130px;
  min-height: 130px;
  margin: 0 3px 0 3px;
  background-color: red;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
}

.slick-list {
  margin: 0 8px 0 8px;
  padding: 5px;
  min-height: 130px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  /*border: 2px solid red;/*
  /*box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);*/
}

.slick-slide {
  margin: 5px;
}

.overlay-span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
  padding: 0 5px 0 5px;
}

.overlay {
  min-width: 200px;
  min-height: 130px;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*display: none;*/
}

.overlay:hover {
  opacity: 1;
  /*display: none;*/
}

.overlay:hover h4 {
  opacity: 1;
}

.overlay:hover h6 {
  opacity: 0;
}

.slick-slider {
  margin: 0 30px 0 30px;
}

.carousel-text {
  text-align: left;
  margin-top: 7px;
  overflow: hidden;
  white-space: normal;
  /* Don't forget this one */
  text-overflow: ellipsis;
  font-size: 18px;
  color: #EEE;
  z-index: 1000;
  opacity: 0;
  margin-right: 30px;
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  /*display: none;*/
  /*transform: translate(0, 600%);*/
}

.carousel-text-category {
  text-align: left;
  overflow: hidden;
  white-space: normal;
  /* Don't forget this one */
  text-overflow: ellipsis;
  font-size: 14px;
  color: #508dbd;
  z-index: 1000;
  float: right;
  position: absolute;
  top: 0;
  right: 5%;
  /*transform: translate(0, 650%);*/
  opacity: 0;
  /*display: none;*/
}

.slick-prev,
.slick-next {
  display: none;
}

.slick-arrow {
  display: none;
}

.arrow {
  color: rgba(20, 16, 15, 0.15);
  font-size: 30px;
  cursor: pointer;
}

.arrow:hover {
  color: rgba(20, 16, 15, 1);
}

.arrow-left {
  position: absolute;
  top: 40%;
  cursor: pointer;
  left: -2%;
}

.arrow-right {
  position: absolute;
  top: 40%;
  right: -2%;
  cursor: pointer;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#event-modal {
  width: 1000px;
  height: 500px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.bordered {
  border: 1px dashed black;
  min-height: 50px;
}

.modal-title {}

.modal-image {
  max-width: 210px;
  min-width: 210px;
  min-height: 210px;
  max-height: 210px;
  margin: 0 auto;
}

#modal-description {
  max-height: 120px;
  max-width: 950px;
  overflow: scroll;
  background-color: #EEE;
}

.modal-desc-title {
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

#modal-logo {
  width: 90px;
  height: 45px;
  border-radius: 5px;
}

.welcome-par {
  color: white;
  text-align: justify;
}

#welcome-title {
  color: white;
}

.signup-input {
  width: 100%;
}

/*#173042,#236477,#cfdfda,#7cad3e,#4a6c2f*/