<!Doctype html>
<html>
<head>
	<title>Dashboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media ="screen">
	<link href="static/css/dc.css" rel="stylesheet" media ="screen">
    <link href="static/css/owl.carousel.css" rel="stylesheet" media ="screen">
    <link href="static/css/style.css" rel="stylesheet" media ="screen">
	<link href='http://fonts.googleapis.com/css?family=Lato:200,400' rel='stylesheet' type='text/css'>
	<style>

    </style>
</head>
<body>
    <div class='nav'>
        <div class='container'>
            <img src='./static/img/sponsorifylogo2.png' id='logo'>
            <ul id='menu'>   
                <li><div class='arrow-down' id='flecha'></div></li>
                <li>User</li>
            </ul>

        </div>
    </div>
    <div id='banner'>
        <div class='container'>
            <div id='featured-meetup'>
            {{data}}
            </div>
        </div>

    </div>
    <div class="container" id="main-container">
        <h3 style='margin-bottom:20px;margin-top:20px'>Top Recommendations</h3>
        <div class="owl-carousel">
            <div class="owl-item"><img class='group-img' src="http://photos3.meetupstatic.com/photos/event/8/6/e/4/highres_83074532.jpeg"><h4>Title</h4></div>
            <div class="owl-item"><img class='group-img' src="http://photos3.meetupstatic.com/photos/event/2/4/f/6/highres_429969462.jpeg"><h4>Title</h4></div>

            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            <div class="owl-item">1</div>
            
        </div>
       <!--  <div class="owl-controls">
                <div class="owl-nav">
                    <div class="owl-prev">Arrow</div>
                    <div class="owl-next">Arrown</div>
                </div>
            </div> -->
    </div>
    <script type="text/javascript" src='static/js/jquery-1.12.2.min.js'> </script>
    <script type="text/javascript" src='static/js/owl.carousel.min.js'> </script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            navText:['&#x27;pruebs&#x27;','&#x27;prev&#x27;'],
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
    </script>

</body>
</html>